.arrow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3); /* lichtgrijze rand */
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.2s ease;

  color: #FFF;
}

.arrow-button:hover {
  border-color: rgba(27, 36, 38, 0.5); /* iets donkerder bij hover */
  color: #FFF;
}

.arrow-button:focus {
  border-color: rgba(27, 36, 38, 0.80); /* nog donkerder bij focus */
  outline: none;
  color: #FFF;
}

.arrow-button:disabled {
  cursor: not-allowed;
  border-color: rgba(255, 255, 255, 0.30);
  opacity: 0.3;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  color: white; /* Design zegt wit maar component layout zegt zwart, dus ik stick met zwart*/
}

