.image-cta {
    position: relative;
    position: relative;
    width: 644px;
    height: 515px;
    overflow: hidden;
    border-radius: 4px;
    font-family: "TT Commons Pro";

}

.image-cta .image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

.image-cta .caption {
    position: absolute;
    bottom: 8px; /* onderaan, iets boven de rand */
    left: 16px;

    color: white;
    font-size: 15px;
    opacity: 0.5;
    z-index: 0; /* lager dan frame zodat het niet interfereert */
    margin: 0;

    max-width: 90%;
    font-weight: 450;

    display: none; /* standaard verborgen */
    pointer-events: none; /* zodat het nooit klikbaar is */
}

.image-cta .gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.0) 100%);
    opacity: 0.8;
    z-index: 1;
}

.image-cta .frame {
    position: absolute;
    bottom: 32px;
    left: 24px;
    right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
}

@media (max-width: 768px) {
  .image-cta {
    width: 335px;
    height: 252px;
  }

  .image-cta .gradient {
    height: 126px;
    width: 100%;
  }

  .image-cta .frame {
    width: calc(100% - 32px); /* 16px padding left & right */
    left: 16px;
    right: 16px;
    bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
