.cta-visual-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1rem;
    text-align: center;
}

.cta-header .label {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 0.5rem;
}

.cta-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #111;
    line-height: 1.4;
}

.cta-header .body-text {
    color: #444;
    margin-bottom: 1rem;
}

.cta-header .cta-link {
    color: #b00020;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
}

.cta-cards {
    /* uit design*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1312px;
    height: 515px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}