.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.cta-visual-section {
    width: 1440px;
    height: 972px;
    display: flex;
    padding: 64px 64px 96px 64px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.cta-visual-section .cta-cards {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}