.title-plaintext {
    display: flex;
    width: 508px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.title-plaintext .text-wrapper {
    align-self: stretch;
    color: #FFF;

    /* Desktop/Heading 4 */
    font-family: "TT Commons Pro";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 114.286% */
    letter-spacing: -0.56px; /* Ookal ziet het er anders uit ik hou me aan het design */
}

.title-plaintext .plain-text {
    align-self: stretch;
    color: #FAFAFA;

    /* Desktop/Body - Normal */
    font-family: "TT Commons Pro";
    font-size: 19px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px;
    /* 126.316% */

    opacity: 0.5;
}

/* === Mobile Styles === */
@media (max-width: 768px) {
    .title-plaintext {
        width: 239px;
    }

    .title-plaintext .text-wrapper {
        font-size: 22px;
        line-height: 24px; /* 109.091% */
        letter-spacing: -0.22px;
    }

    .title-plaintext .plain-text {
        font-size: 17px;
        line-height: 24px; /* 141.176% */
    }
}

/*dubbel check font sizes en weight */