@font-face {
  font-family: 'TT Commons Pro';
  src: url('./fonts/TT-Commons-Pro-Normal.woff2') format('woff2');
}
@font-face {
  font-family: 'GT Alpina';
  src: url('./fonts/GTAlpina-Light.woff2') format('woff2');
}

